@font-face {
    font-family: "pixel";
    src: url("../FFFFORWA.TTF");
}
#caretaker-sign-up {
    padding: 30px;
}

#caretaker-sign-up > div {
    font-family: "pixel";
    display: flex;
}
#caretaker-sign-up > div > div {
    width: 50%;
    padding: 20px;
    display: flex;
    flex-direction: column;
}