.volunteer-application {
    display: flex;
    flex-direction: column;
    width: 48%;
    justify-content: space-between;
    background-color: rgb(202, 226, 242);
    margin: 10px;
    padding: 20px;
    color: rgb(8, 8, 209);
}
.volunteer-application > div {
    display: flex;
    align-items: center;
    flex: 1;
    font-size: 20px;
    margin: 2px;
}
.volunteer-app-categories {
    display: flex;
    flex-wrap: wrap;
}
.volunteer-app-categories > button {
    margin: 2px 5px;
    padding: 7px 10px;
    font-family: "pixel";
    color: rgb(9, 9, 151);
    background-color: transparent;
    border: 1px solid rgb(9, 9, 151);
}
.bold {
    font-weight: bold;
}