.volunteer-application {
    display: flex;
    flex-direction: column;
    width: 48%;
    justify-content: space-between;
    background-color: rgb(180, 220, 246);
    margin: 10px;
    padding: 20px;
    color: rgb(8, 8, 209);
}
.volunteer-application > div {
    display: flex;
    align-items: center;
    flex: 1;
    font-size: 20px;
    margin: 2px;
}
.volunteer-app-categories {
    display: flex;
    flex-wrap: wrap;
}
.volunteer-app-categories > button {
    margin: 2px 5px;
    padding: 5px 7px;
}
.bold {
    font-weight: bold;
}