#volunteer-achievements {
    background-color: rgb(156, 156, 246);
    height: 100%;
    color: white;
    text-align: center;
}
#volunteer-achievements > h1 {
    font-size: 75px;
    transition: 5s ease all;
}
#volunteer-achievements > h1:hover {
    font-size: 100px;
    color: white;
    transition: 5s ease all;
}
#volunteer-achievements > h2 {
    margin: 20px;
}
#gold-star {
    transition: 5s ease all;
}
#gold-star:hover {
    color: gold;
    text-shadow: 0 0 20px red;
    font-size: 50px;
    transition: 5s ease all;
}