@font-face {
    font-family: "pixel";
    src: url("../../FFFFORWA.TTF");
}

#home-page {
    padding-top: 100px;
  text-align: center;
  color: #0D0D33;
  height: 100%;
  background-image: url("../../blue-sky-background-in-pixel-art-style-vector.jpg");
}
hr {
    margin: 50px;
}

#home-header {
    font-family: "pixel";
    font-size: 75px;
    font-weight: normal;
    margin: 20px 0;
    color: white;
}
#home-description {
    font-family: "pixel";
    color: #F9F6D3;
    font-size: 30px;
    margin-bottom: 30px;
}
#home-cont {
    font-family: "pixel";
     margin: 30px 0;
     font-weight: normal;
}

#home-sign-up {
    font-size: 30px;
    border-radius: 0;
    font-family: "pixel";
    background-color: #0D0D33;
    margin-right: 70px;
    color: #014EAF;
}
#home-sign-up:not([disabled]) {
    color: white;
    margin-right: 20px;
    transition: 0.5s ease all;
}
#home-sign-up:not([disabled]):hover {
    padding: 7px 17px;
    font-size: 15px;
    transition: 0.5s ease all;
}

#home-login {
    font-size: 30px;
margin-left: 70px;
    border-radius: 0;
    font-family: "pixel";
    background-color: #014EAF;
    color: #0D0D33;
}
#home-login:not([disabled]) {
    color: white;
    transition: 0.5s ease all;
}
#home-login:not([disabled]):hover {
    padding: 7px 17px;
    font-size: 15px;
    transition: 0.5s ease all;
}
